[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-money = "*"
pillow = "*"
drf-spectacular = "*"
django-cors-headers = "*"
python-magic = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "*"
